<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <p>Video Blogs sobre productos frecuentes </p>
        <p>parasetamol </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4TnE2YTQPwU?si=C2D_yVYtatmnh6Sj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>
