<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>ServasDrugStore</title>         
    </head>
    <body class="index">
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <div class="container mt-4">
            <h2 class="text-center">Video Blogs sobre productos frecuentes</h2>
            <p class="text-center">Paracetamol</p>
            <div class="d-flex justify-content-center">
                <iframe width="560" height="315" 
                        src="https://www.youtube.com/embed/4TnE2YTQPwU?si=C2D_yVYtatmnh6Sj"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <section class="contacto my-5">
            <div class="container">
                <div class="card shadow-lg p-4">
                    <h2 class="text-center mb-4">Contacto - Sugerencias y Quejas</h2>
                    <p class="text-center">Si tienes alguna queja o sugerencia, por favor completa el formulario y nos pondremos en contacto contigo.</p>

                    <form method="post" action="/enviarFormulario" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre Completo:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico:</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono:</label>
                            <input type="tel" id="telefono" name="telefono" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="mensaje" class="form-label">Mensaje:</label>
                            <textarea id="mensaje" name="mensaje" rows="5" class="form-control" required></textarea>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>
